body {
  background: #202124;
  font-family: "Gantari", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

input,
select,
textarea {
  color: salmon;
}

a:link {
  text-decoration: none;
  color: #9aa0a6;
}

a:visited {
  color: #9aa0a6;
}

a:hover {
  color: #9aa0a6;
}

a:active {
  color: #9aa0a6;
}

.content {
  display: block;
  margin: 30px auto;
  padding: 10px 15px;
  max-width: 700px;
  border: 1px solid salmon;
  border-radius: 3px;
}

.locationSearchForm {
  margin: 15px 0 -12px;
  display: block;
}

.locationSearchForm__inputArea {
  border: 1px solid salmon;
  border-radius: 3px;
  background: #202124;
}

::placeholder {
  color: #9aa0a6;
}

.locationSearchForm__searchButton {
  position: relative;
  left: -35px;
  border: none;
  background: transparent;
  color: salmon;
}

.currentWeather {
  padding: 17px;
}

.currentWeather__mainIcon {
  display: inline-block;
  position: relative;
  top: -15px;
  font-size: 45px;
  height: 60px;
}

.currentWeather__degree {
  display: inline-block;
  font-size: 50px;
  font-weight: 600;
  color: salmon;
}

.currentWeather__degree-units {
  position: relative;
  top: -25px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #9aa0a6;
}

.currentWeather__degree-units .active {
  text-decoration: none;
  color: salmon;
}

.currentWeather__degree-unitsCelsius {
  color: salmon;
  text-decoration: none;
}

.currentWeather__currentLocation {
  font-size: 25px;
  font-weight: 600;
  line-height: 26px;
  text-align: right;
  color: salmon;
}

.currentWeather__moreInfo-details {
  display: inline-block;
  padding: 6px 0px 0px 9px;
  line-height: 1.2;
  font-size: 12px;
  color: #9aa0a6;
}

.currentWeather__moreInfo-dateTime {
  margin: 3px;
  font-size: 16px;
  line-height: 1;
  text-align: right;
  color: #9aa0a6;
}

.nextDays {
  margin: 0 0 25px 0;
}

.nextDays__day {
  text-align: center;
  color: #e8eaed;
}

.nextDays__icon {
  display: block;
  text-align: center;
}

.nextDays__degree {
  text-align: center;
}

.nextDays__degree-high {
  color: #e8eaed;
}

.nextDays__degree-low {
  color: #9aa0a6;
}

.coderInfo {
  text-align: center;
  font-size: 13px;
  color: #9aa0a6;
}

.gitHub-link {
  color: salmon;
}

.gitHub-link:hover {
  color: rgb(240, 107, 93);
}
#my-current-location {
  position: relative;
  left: 231px;
  top: -16px;
  border: 1px solid salmon;
  border-radius: 3px;
  background: transparent;
  color: salmon;
}

#description:first-letter {
  text-transform: capitalize;
}
